/public/hot
/public/storage
/public/static
/resources/views/index.blade.php
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env

.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
resources/vuejs/test/unit/coverage
resources/vuejs/test/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
